{% extends "base.html" %}

{% block lab %}Редактирование данных{% endblock %}

{% block main %}
    <h1>Редактирование профиля</h1>
    <form method="post">
        <div>
            <label>Имя:</label>
            <input type="text" name="name" value="{{ user.name }}">
        </div>
        <div>
            <label>Логин:</label>
            <input type="text" name="login" value="{{ user.login }}">
        </div>
        <div>
            <label>Новый пароль:</label>
            <input type="password" name="password">
        </div>
        <div>
            <label>Подтверждение пароля:</label>
            <input type="password" name="confirm">
        </div>
        {% if error %}
            <div style="color:red;">{{ error }}</div>
        {% endif %}
        <div>
            <button type="submit">Сохранить</button>
            <a href="/lab4/users"><button type="button">Назад</button></a>
        </div>
    </form>
{% endblock %}
