{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div class="menu" style="text-align: center;">
        <a href="/lab5/users" class="link-btn">Список пользователей</a>
        <a href="/lab5/list" class="link-btn">Список статей</a>
        <a href="/lab5/public" class="link-btn">Публичные статьи</a>
        <a href="/lab5/create" class="link-btn">Создать статью</a>
        <a href="/lab5/login" class="link-btn">Войти</a>
        <a href="/lab5/register" class="link-btn">Регистрация</a>
        {% if login %}
            <a href="/lab5/profile" class="link-btn">Профиль</a>
            <a href="/lab5/logout" class="link-btn">Выйти</a>
        {% endif %}
        <span class="user-name">{{ login if login else 'Anonymous' }}</span>
    </div>
{% endblock %}
