{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div class="menu" style="text-align: center;">
        <a href="/lab8/login" class="link-btn">Войти</a>
        <a href="/lab8/register" class="link-btn">Регистрация</a>
        <a href="/lab8/articles" class="link-btn">Список статей</a>
        <a href="/lab8/create" class="link-btn">Создать статью</a>
        <span class="user-name">
            {{ current_user.login if current_user.is_authenticated else 'Anonymous' }}
        </span>
    </div>
{% endblock %}
